.cache/
.superpowers/
out/
tests/results/
*.user
*.suo
**/bin/
**/obj/
**/pics/
**/deck/
**/expansions/
**/pack/
/bot/Decks/
/bot/Dialogs/
**/cards.cdb
**/system.conf
**/system-undo.conf
**/bots.json
/client/script/
/client/sound/
/client/textures/
